@import '@styles/variables';
@import '@styles/mixins';

.createAccountSection {
  display: flex;
  row-gap: $spacing-2xl;
}

.mainSection {
  padding: $spacing-2xl;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
}

.doubleInputContainer {
  display: flex;
  gap: $spacing-2xl;
}

.loginLink {
  font-weight: bold;
  text-decoration: underline;
}

.inputContainer {
  width: 100%;
}

@include media-tablet-landscape {
  .createAccountSection {
    flex-direction: column-reverse;
  }
  .doubleInputContainer {
    display: flex;
    flex-direction: column;
  }
  .mainSection {
    @include mobile-padding;
  }
}
