@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.ourWork {
  @include desktop-padding;
  text-align: center;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $spacing-sm;
}

@include media-tablet-portrait {
  .blocks {
    grid-template-columns: 1fr;
  }
}

@include media-mobile {
  .ourWork {
    @include mobile-padding;
  }
}
