@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.ourWork {
  padding: $spacing-2xl $spacing-xl;
  text-align: center;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $spacing-sm;
}

@include media-tablet-portrait {
  .blocks {
    grid-template-columns: 1fr;
  }
}
