@import '@styles/variables.scss';

.nav {
  display: flex;
  align-items: center;
}

.li {
  font-weight: $font-weight-semi-bold;
  color: $color-white;

  &:not(:last-of-type) {
    margin-right: $spacing-rg;
  }

  &:last-of-type {
    margin-right: $spacing-xl;
  }

  &:hover {
    filter: opacity(0.8);
  }

  &:active {
    filter: opacity(0.5);
  }
}
