@import '@styles/variables';
@import '@styles/mixins';

.fourBlockInfo {
  background-color: $color-secondary-tint;
  padding: $spacing-2xl $spacing-xl;
  text-align: center;
  color: $color-white;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spacing-xl;
}

@include media-tablet-landscape {
  .fourBlockInfo {
    @include mobile-padding;
  }
  .blocks {
    grid-template-columns: 1fr;
  }
}
