@import '@styles/variables';
@import '@styles/mixins';

.pricingSection {
  padding: $spacing-2xl $spacing-xl;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spacing-xl;
}

@include media-tablet-landscape {
  .pricingSection {
    @include mobile-padding;
  }
  .cards {
    grid-template-columns: 1fr;
  }
}
