@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans:wght@400;600&display=swap');
@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $font-size-2xs;
  background-color: $color-white-tint;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
