@import '@styles/variables';
@import '@styles/mixins';

.twoColGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.right {
  grid-auto-flow: dense;

  & .imgContainer {
    grid-column: 1;
  }
  & .textContainer {
    grid-column: 2;
  }
}

.textContainer {
  padding: $spacing-2xl $spacing-lg;
}

.imgContainer {
  position: relative;
}

@include media-tablet-landscape {
  .twoColGrid {
    grid-template-columns: 1fr;
  }
  .right {
    grid-column: 1;
    grid-row: 1;
    grid-auto-flow: dense;
  }
  .imgContainer {
    height: 350px;
  }
}
