@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.gridSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spacing-3xl;
  @include desktop-padding;
  background-color: $color-secondary-tint;
  color: $color-white;
}

@include media-tablet-landscape {
  .gridSection {
    grid-template-columns: 1fr;
    gap: $spacing-xl;
  }
}

@include media-mobile {
  .gridSection {
    @include mobile-padding;
  }
}
