@import '@styles/variables.scss';

.ourMuseums {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spacing-3xl;
  padding: $spacing-2xl $spacing-xl;
  background-color: $color-secondary-tint;
  color: $color-white;
}
