@import '@styles/variables';

.input {
  all: unset;
  border-bottom: 1px solid $color-black;
  // position: absolute;
  bottom: 0;
  left: 0;
  padding: $spacing-xs;

  width: 100%;
}

.labelContainer {
  position: relative;
  padding: $spacing-xs;
}

.half {
  display: inline-block;
  width: 50%;
  flex-wrap: wrap;
  column-gap: $spacing-2xl;
}
