@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.ctaBanner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: $spacing-xl;
  padding: $spacing-2xl $spacing-xl;
  justify-content: center;
  align-items: center;
}

@include media-tablet-portrait {
  .ctaBanner {
    text-align: center;
    grid-template-columns: 1fr;
  }
}
