@import '@styles/variables';
@import '@styles/mixins';

.reviewSection {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: $spacing-xl;
  background-color: $color-secondary-tint;
  color: $color-white;
  padding: $spacing-2xl $spacing-xl;
}

.imgContainer {
  position: relative;
}

@include media-tablet-landscape {
  .reviewSection {
    grid-template-columns: 1fr;
  }
  .imgContainer {
    height: 400px;
  }
}
