@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.hero {
  background: url('/assets/images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  color: $color-white;
  height: fit-content;
}

.overlay {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100%;
}

.left {
  top: 0;
  left: 0;
  width: 100;
  height: 100%;
  padding: $spacing-2xl $spacing-xl;
}

@include media-laptop {
  .hero {
    background-position: center;
  }
  .overlay {
    grid-template-columns: 3fr 1fr;
  }
}

@include media-tablet-portrait {
  .hero {
    text-align: center;
  }
  .overlay {
    grid-template-columns: 1fr;
  }
}
