@import '@styles/variables';
@import '@styles/mixins';

.adminPanel {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.sidebar {
  background-color: $color-black;
  color: $color-white;
  min-height: 80vh;
  height: fit-content;
}

.main {
  padding: $spacing-rg;
}

.tab {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: $spacing-xs 0 $spacing-xs $spacing-xs;
  border: 1px solid $color-white-shade;

  & p {
    margin-right: $spacing-rg;
  }
}

@include media-tablet-portrait {
  .adminPanel {
    grid-template-columns: 1fr;
  }
  .sidebar {
    min-height: unset;
  }
  .main {
    @include mobile-padding;
  }
}
