@import '@styles/variables';

.adminPanel {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.sidebar {
  background-color: $color-black;
  color: $color-white;
  height: 80vh;
}

.main {
  padding: $spacing-rg;
}

.tab {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: $spacing-xs 0 $spacing-xs $spacing-xs;
  border: 1px solid $color-white-shade;

  & p {
    margin-right: $spacing-rg;
  }
}
